@font-face {
    font-family: "Luciole";
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-display: swap;

    src:
        url("fonts/Luciole-Regular.woff") format("woff"),
        url("fonts/Luciole-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Luciole";
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    font-display: swap;

    src:
        url("fonts/Luciole-Bold.woff") format("woff"),
        url("fonts/Luciole-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Luciole";
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-display: swap;

    src:
        url("fonts/Luciole-Italic.woff") format("woff"),
        url("fonts/Luciole-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Luciole";
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    font-display: swap;

    src:
        url("fonts/Luciole-BoldItalic.woff") format("woff"),
        url("fonts/Luciole-BoldItalic.woff2") format("woff2");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;

    --color-text: hsl(261, 25%, 11%);
    --color-text-secondary: hsl(247, 4%, 45%);

    --color-box-shadow: rgba(0, 0, 0, 0.12);

    --color-primary1: hsl(225, 60.0%, 99.4%);
    --color-primary2: hsl(223, 100%, 98.6%);
    --color-primary3: hsl(223, 98.4%, 97.1%);
    --color-primary4: hsl(223, 92.9%, 95.0%);
    --color-primary5: hsl(224, 87.1%, 92.0%);
    --color-primary6: hsl(224, 81.9%, 87.8%);
    --color-primary7: hsl(225, 77.4%, 82.1%);
    --color-primary8: hsl(226, 75.4%, 74.5%);
    --color-primary9: hsl(226, 70.0%, 55.5%);
    --color-primary10: hsl(226, 58.6%, 51.3%);
    --color-primary11: hsl(226, 55.0%, 45.0%);
    --color-primary12: hsl(226, 62.0%, 17.0%);
}

body {
    margin: 0;
    padding: 0;

    color: var(--color-text);
    font-family: Luciole, Arial, Helvetica, sans-serif;
    font-size: 200%;

    background: var(--color-primary2);
}

@media (min-width: 800px) {
    body {
        font-size: 225%;
    }
}

*:focus {
    outline: 0.3rem solid var(--color-primary9);
}

.sr-only {
    position: absolute;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;
}

p,
h1,
h2,
h3,
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: var(--color-primary11);
}

.flow-smaller > * + * {
    margin-top: 0.5rem;
}

.flow-small > * + * {
    margin-top: 1rem;
}

.flow > * + * {
    margin-top: 2rem;
}

.flow-large > * + * {
    margin-top: 7rem;
}

.flow-larger > * + * {
    margin-top: 10rem;
}

.wrapper-text {
    max-width: 55ch;
}

.wrapper-small {
    max-width: 600px;
}

.wrapper {
    max-width: 1000px;
}

.wrapper-large {
    max-width: 1200px;
}

.wrapper-larger {
    max-width: 1400px;
}

.wrapper--center {
    margin-right: auto;
    margin-left: auto;
}

.text--secondary {
    color: var(--color-text-secondary);
}

.text--italic {
    font-style: italic;
}

.text--center {
    text-align: center;
}

.text--right {
    text-align: right;
}

.text--small {
    font-size: 0.9em;
}

.text--big {
    font-size: 1.2em;
}

.row {
    display: flex;

    align-items: stretch;
}

@media (max-width: 799px) {
    .row:not(.row--always) {
        flex-direction: column;
    }
}

.row--center-always {
    align-items: center;
}

@media (min-width: 800px) {
    .row--center {
        align-items: center;
    }
}

.row--baseline {
    align-items: baseline;
}

.row > * + * {
    margin-left: 2rem;
}

@media (max-width: 799px) {
    .row:not(.row--always) > * + * {
        margin-top: 2rem;
        margin-left: 0;
    }
}

.row__item--extend {
    flex-grow: 1;
}

.row__item--noshrink {
    flex-shrink: 0;
}

label {
    display: block;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

input {
    width: 100%;
    padding: 0.5rem 0.75rem;

    color: inherit;
    font-family: inherit;
    font-size: 1em;
    line-height: 1.5;

    background-color: var(--color-primary1);
    box-shadow: 2px 2px 3px var(--color-box-shadow) inset;
    border: 0.25rem solid var(--color-primary7);
    border-radius: 0.5rem;

    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
}

input:hover,
input:focus {
    background-color: var(--color-primary2);
    border-color: var(--color-primary8);
}

.form__error {
    padding-right: 0.75rem;
    padding-left: 0.75rem;

    color: #817;
    font-size: 0.9em;
    font-weight: bold;
}

.form__actions {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    display: inline-block;
    padding: 0.75rem 1.75rem;

    color: var(--color-primary12);
    font-family: inherit;
    font-size: 1em;

    background-color: var(--color-primary3);
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 0%), rgb(0 0 0 / 5%));
    box-shadow: 0 1px 2px var(--color-box-shadow);
    border: 0.25rem solid var(--color-primary7);
    border-radius: 0.75rem;

    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;

    cursor: pointer;
}

button:hover,
button:focus {
    background-color: var(--color-primary4);
    border-color: var(--color-primary9);
}

button:active {
    background-color: var(--color-primary5);
}

.button--ghost {
    background-color: transparent;
    border-color: rgb(0 0 0 / 10%);
}

.sticky {
    position: sticky;
    top: 0;

    padding: 1rem;

    background-color: var(--color-primary2);
    border-bottom: 1px solid var(--color-primary6);
}

.layout__nav {
    padding: 1rem 0.5rem;
}

.layout__brand {
    color: var(--color-text);
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

.layout__nav a[aria-current="page"] {
    text-decoration: none;
}

.layout__nav button {
    font-size: 0.8em;
}

.layout__body {
    padding-right: 0.5rem;
    padding-bottom: 10rem;
    padding-left: 0.5rem;
}

.layout__title {
    text-align: center;
}

.layout__footer {
    padding: 2rem 0.5rem;
}

@media (min-width: 800px) {
    .layout__footer .feeds {
        text-align: right;
    }
}

.entry__illustration {
    width: 10rem;
}

@media (min-width: 800px) {
    .entry__illustration {
        width: 20rem;
    }
}

.entry__illustration img {
    display: block;
    width: 100%;
    height: 100%;

    border-radius: 0.5rem;

    object-fit: cover;
}

.entry__title {
    font-size: 1.2em;
}

@media (min-width: 800px) {
    .entry__title {
        font-size: 1.3em;
    }
}

.entry__title a {
    display: block;
    padding: 0.5rem;

    text-decoration: none;

    border-radius: 0.5rem;
}

.entry__info {
    padding: 0.5rem;
}
