<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title><?= $brand ?></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="<?= url_static('style.css') ?>">
        <script src="<?= url_static('turbo.js') ?>" defer></script>
        <script src="<?= url_static('main.js') ?>" defer></script>
        <link href="<?= url_full('web feed') ?>" type="application/atom+xml" rel="alternate" title="<?= $brand ?>" />
    </head>

    <body class="flow-large">
        <nav class="layout__nav row row--always row--center-always wrapper wrapper--center text--center">
            <a href="<?= url('home') ?>" class="layout__brand">
                <?= $brand ?>
            </a>

            <?php if ($user): ?>
                <a href="<?= url('home') ?>" <?= $current_page === 'news' ? 'aria-current="page"' : '' ?>>
                    Le journal
                </a>

                <a href="<?= url('the feed') ?>" <?= $current_page === 'feed' ? 'aria-current="page"' : '' ?>>
                    Le flux
                </a>
            <?php endif ?>

            <div class="row__item--extend"></div>

            <?php if ($user): ?>
                <form method="post" action="<?= url('delete session') ?>">
                    <input type="hidden" name="csrf" value="<?= $csrf ?>">
                    <button type="submit">
                        Se déconnecter
                    </button>
                </form>
            <?php else: ?>
                <a href="<?= url('new person') ?>" <?= $current_page === 'new person' ? 'aria-current="page"' : '' ?>>
                    S’inscrire
                </a>

                <a href="<?= url('new session') ?>" <?= $current_page === 'new session' ? 'aria-current="page"' : '' ?>>
                    Se connecter
                </a>
            <?php endif ?>
        </nav>

        <?= $this->safe('content') ?>

        <footer class="layout__footer row row--baseline wrapper wrapper--center">
            <p class="row__item--extend text--secondary text--small">
                Un projet <a href="https://flus.fr">Flus</a> (<a href="https://framagit.org/flusio/hermes/">code source</a>)
            </p>

            <p class="feeds">
                <a href="<?= url('web feed') ?>">
                    Flux Web
                </a>

                <br>

                →
                <a href="https://app.flus.fr/collections/1758454847518345159">
                    Suivre dans Flus
                </a>
            </p>
        </footer>
    </body>
</html>
