<?php $this->layout('base.phtml', ['current_page' => 'new session']) ?>

<main class="layout__body flow-large">
    <h1 class="layout__title">Se connecter</h1>

    <form action="<?= url('create session') ?>" method="post" class="wrapper-small wrapper--center flow">
        <?php if (isset($errors['csrf'])): ?>
            <p class="form__error" role="alert" id="csrf-error">
                <span class="sr-only">Erreur</span>
                <?= $errors['csrf'] ?>
            </p>
        <?php endif ?>

        <div class="flow-small">
            <label for="nickname">
                Pseudonyme
            </label>

            <?php if (isset($errors['nickname'])): ?>
                <p class="form__error" role="alert" id="nickname-error">
                    <span class="sr-only">Erreur</span>
                    <?= $errors['nickname'] ?>
                </p>
            <?php endif ?>

            <input
                type="text"
                id="nickname"
                name="nickname"
                value="<?= $nickname ?>"
                required
                maxlength="42"
                autocomplete="username"
                <?php if (isset($errors['nickname'])): ?>
                    autofocus
                    aria-invalid="true"
                    aria-errormessage="nickname-error"
                <?php endif ?>
            />
        </div>

        <div class="flow-small">
            <label for="password">
                Mot de passe
            </label>

            <?php if (isset($errors['password'])): ?>
                <p class="form__error" role="alert" id="password-error">
                    <span class="sr-only">Erreur</span>
                    <?= $errors['password'] ?>
                </p>
            <?php endif ?>

            <input
                type="password"
                id="password"
                name="password"
                value="<?= $password ?>"
                required
                autocomplete="current-password"
                <?php if (isset($errors['password'])): ?>
                    autofocus
                    aria-invalid="true"
                    aria-errormessage="password-error"
                <?php endif ?>
            />
        </div>

        <div class="form__actions">
            <button class="button--primary" type="submit">
                Se connecter
            </button>
        </div>

        <input type="hidden" name="csrf" value="<?= $csrf ?>">
    </form>
</main>
