<?php $this->layout('base.phtml', ['current_page' => 'feed']) ?>

<main class="layout__body">
    <div class="wrapper wrapper--center flow-larger">
        <h1 class="layout__title">Le flux</h1>

        <?php if ($status === 'registered' && $user): ?>
            <p role="alert" class="text--center">
                Bienvenue <?= protect($user->nickname) ?> ! Vous êtes désormais inscrit‧e sur <?= $brand ?>.
            </p>
        <?php elseif ($status === 'connected' && $user): ?>
            <p role="alert" class="text--center">
                Vous êtes de retour <?= protect($user->nickname) ?>, bienvenue !
            </p>
        <?php endif ?>

        <div class="flow">
            <p class="text--center text--italic wrapper-small wrapper--center">
                Votez pour les articles que vous souhaitez voir dans l’édition du journal de demain.
            </p>
        </div>

        <div class="flow-larger">
            <p class="text--center sticky">
                <strong>Votes « +1 » restants pour aujourd’hui : <?= $remaining_positive_votes ?></strong>
            </p>

            <?php foreach ($entries as $entry): ?>
                <article class="entry row row--always">
                    <div class="entry__illustration row__item--noshrink">
                        <img alt="" src="<?= url_media($entry->image_filename) ?>" />
                    </div>

                    <div class="flow-small row__item--extend">
                        <h1 class="entry__title">
                            <a target="_blank" rel="noopener noreferrer" href="<?= $entry->url ?>">
                                <?= protect($entry->title) ?>
                            </a>
                        </h1>

                        <div class="row row--center">
                            <p class="entry__info row__item--extend">
                                <span><?= protect($entry->feed()->name) ?></span>&nbsp;·&nbsp;<time datetime="<?= $entry->published_at->format(DATE_ATOM) ?>"><?= _d($entry->published_at, 'HH:mm', 'fr_FR') ?></time>
                            </p>

                            <div class="entry__actions row__item--noshrink">
                                <form method="post" action="<?= url('vote for entry', ['id' => $entry->id]) ?>" data-turbo-preserve-scroll>
                                    <input type="hidden" name="csrf" value="<?= $csrf ?>">

                                    <?php $nope_labels = ['Nan', 'Bof', 'Non', 'Nope', 'Niet']; ?>
                                    <?php $nope_keys = mb_strlen($entry->title) % count($nope_labels); ?>
                                    <button type="submit" class="button--ghost" name="strength" value="0">
                                        <?= $nope_labels[$nope_keys] ?>
                                    </button>

                                    <?php if ($remaining_positive_votes > 0): ?>
                                        <button type="submit" name="strength" value="+1">
                                            +1
                                        </button>
                                    <?php endif ?>
                                </form>
                            </div>
                        </div>
                    </div>
                </article>
            <?php endforeach ?>

            <?php if (!$entries): ?>
                <div class="text--center wrapper-small wrapper--center flow-small">
                    <p>
                        <strong>Le flux est vide.</strong>
                    </p>

                    <p class="text--secondary">
                        Revenez plus tard, le flux est rafraîchi toutes les heures.
                    </p>
                </div>
            <?php endif ?>
        </div>
    </div>
</main>
