<?php $this->layout('base.phtml', ['current_page' => 'news']) ?>

<main class="layout__body">
    <div class="wrapper wrapper--center flow-large">
        <h1 class="layout__title">Le journal</h1>

        <?php if ($status === 'disconnected'): ?>
            <p role="alert" class="text--center">
                Vous êtes désormais déconnecté‧e.
            </p>
        <?php endif ?>

        <p class="text--center text--italic wrapper-small wrapper--center">
            Une nouvelle édition collaborative tous les jours à 7h.
        </p>

        <div class="flow-larger">
            <?php foreach ($entries as $entry): ?>
                <article class="entry row row--always">
                    <div class="entry__illustration row__item--noshrink">
                        <img alt="" src="<?= url_media($entry->image_filename) ?>" />
                    </div>

                    <div class="flow-small row__item--extend">
                        <h1 class="entry__title">
                            <a target="_blank" rel="noopener noreferrer" href="<?= $entry->url ?>">
                                <?= protect($entry->title) ?>
                            </a>
                        </h1>

                        <div class="row row--center">
                            <p class="entry__info row__item--extend">
                                <span><?= protect($entry->feed()->name) ?></span>
                            </p>
                        </div>
                    </div>
                </article>
            <?php endforeach ?>

            <?php if (!$entries): ?>
                <p class="text--center wrapper-small wrapper--center">
                    <strong>Le journal est vide aujourd’hui.</strong><br>
                    <span class="text--secondary">
                        Revenez demain pour une nouvelle édition.
                    </span>
                </p>
            <?php endif ?>
        </div>
    </div>
</main>
